html
    head
        title="File"
        script(src='/javascripts/crypto/api/serprent-constants.js')
        script(src='/javascripts/crypto/api/serprent.js')
        //script(src='/javascripts/cryptico.js')
        script(src='/javascripts/libs/jquery-3.2.1.min.js')
        script(src='/javascripts/index.js')
        script(src='/javascripts/file.js')
block content
    h1= 'File '
    a(href="/all-files") All files
    br
    strong(id='fileNameLabel')
    form(id='file-form', method="post")
        input(type='hidden', value='', id='fileName')
        textarea(style='width: 100%; height: 100px;', name='fileContent', id='fileContent')
        input(type='submit', value='Submit')


