doctype html
html
    head
        title= 'Hello'
        script(src='/javascripts/crypto/api/serprent-constants.js')
        script(src='/javascripts/crypto/api/serprent.js')
        script(src='/javascripts/cryptico.js')
        script(src='/javascripts/index.js')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content